/*CSS para las fuentes del proyecto*/

/*Fuente Edo SZ*/
@font-face {
    font-family: 'Edo SZ';
    font-style: normal;
    font-weight: normal;
    src: local('Edo SZ'), url('../fonts/edosz.woff') format('woff');
    }

/*Fuente Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');